<!--
The MyDrawer custom component view is where you define what will be displayed in the app drawer.
Feel free to customize layouts and components to change how your app drawer looks.
-->
<GridLayout rows="auto, *" class="sidedrawer sidedrawer-left">
    <StackLayout row="0" class="sidedrawer-header" [ngStyle]="{'background-image': backgroundURL }">
        <WebImage rounded="true" class="sidedrawer-header-image" [src]="avatarURL" [placeholder]="avatarPlaceholder"></WebImage>
        <StackLayout class="header-text" orientation="vertical">
            <Label class="sidedrawer-header-brand" text="{{ account }} ({{ reputation }})" textWrap="true"></Label>
            <Label class="footnote" text="@{{ account }}"></Label>
        </StackLayout>
    </StackLayout>

    <ScrollView row="1">
        <StackLayout class="sidedrawer-content">
            <MyDrawerItem title="Search" route="/" icon="&#xf002;" [isSelected]="isPageSelected('Search')"></MyDrawerItem>
            <StackLayout class="hr-light"></StackLayout>
            <MyDrawerItem title="Blog" route="/home/blog" icon="&#xf015;" [isSelected]="isPageSelected('Blog')"></MyDrawerItem>
            <MyDrawerItem title="Feed" route="/home" icon="&#xf015;" [isSelected]="isPageSelected('Feed')"></MyDrawerItem>
            <MyDrawerItem title="Hot" route="/home/hot" icon="&#xf06d;" [isSelected]="isPageSelected('Hot')"></MyDrawerItem>
            <MyDrawerItem title="Trending" route="/home/trending" icon="&#xf27a;" [isSelected]="isPageSelected('Trending')"></MyDrawerItem>
            <MyDrawerItem title="New" route="/home/new" icon="&#xf0f3;" [isSelected]="isPageSelected('New')"></MyDrawerItem>
            <MyDrawerItem title="Tags" route="/home/trending" icon="&#xf02c;" [isSelected]="isPageSelected('Tags')"></MyDrawerItem>
            <StackLayout class="hr-light"></StackLayout>
            <MyDrawerItem title="Settings" route="/settings" icon="&#xf013;" [isSelected]="isPageSelected('Settings')"></MyDrawerItem>
        </StackLayout>
    </ScrollView>
</GridLayout>