.center {
    vertical-align: center;
    margin: 32;
}

.button {
    background: #F0F0F0;
}

.page {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.inner {
    padding: 16;
    border-radius: 0;
    border-width: 1;
    border-color: #333333;
}

.element {
    padding: 16 0 16 0;
}