.center {
    vertical-align: center;
    margin: 32;
}

.button {
    background: #263238;
}

.page {
    background: darken(#263238, 10%);
}

.inner {
    padding: 16;
    background: darken(#263238, 5%);
}

.element {
    padding: 16 0 16 0;
}

.field {
    color: #cccccc;
    placeholder-color: #aaaaaa;
    border-bottom-color: #aaaaaa;
}