<ActionBar class="action-bar">
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <ActionItem icon="res://navigation/menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
        ios.position="left">
    </ActionItem>
    <Label class="action-bar-title" [text]="pageName"></Label>
</ActionBar>

<RadSideDrawer #drawer showOverNavigation="true" [drawerTransition]="sideDrawerTransition">
    <StackLayout tkDrawerContent><MyDrawer [selectedPage]="pageName"></MyDrawer></StackLayout>
    <StackLayout orientation="vertical" tkMainContent>
        <StackLayout class="filter" orientation="horizontal" *ngIf="currentTag !== ''">
            <Label class="text" text="Browsing tag: "></Label>
            <StackLayout (tap)="onTagReset()" orientation="horizontal">
                <Label class="tag" [text]="currentTag" textWrap="true"></Label>
                <Label class="fa center icon" text="&#xf057;"></Label>
            </StackLayout>
        </StackLayout>
        <RadListView loadOnDemandMode="Auto" [items]="feed" [itemTemplateSelector]="templateSelector" (itemTap)="onClick($event)" (loadMoreDataRequested)="onLoadMore($event)">
            <ng-template let-item="item" tkTemplateKey="image">
                <StackLayout orientation="vertical" class="feedItem">
                    <FeedTopbar [post]="item" (author)="onAuthor($event)" (tag)="onTag($event)"></FeedTopbar>
                    <FeedThumbnail [src]="item.thumbnail"></FeedThumbnail>
                    <Label class="nameLabel" [text]="item.title" textWrap="true"></Label>
                </StackLayout>
            </ng-template>
            <ng-template let-item="item" tkTemplateKey="no-image">
                <StackLayout orientation="vertical" class="feedItem">
                    <FeedTopbar [post]="item" (author)="onAuthor($event)" (tag)="onTag($event)"></FeedTopbar>
                    <Label class="nameLabel" [text]="item.title" textWrap="true"></Label>
                </StackLayout>
            </ng-template>
        </RadListView>
    </StackLayout>
</RadSideDrawer>