.topBar {
    .avatarImage {
        border-radius: 50%;
        width: 42;
        height: 42;
        padding: 6;
    }
    
    .center {
        vertical-align: center;
    }
}

.page {
    background: #263238;
    
    Label.title {
        font-size: 18;
        line-height: 14;
    }

    .mtop {
        margin-top: 12;
    }

    .margin {
        margin: 12 12 0 12;
        vertical-align: center;
    }

    .webView {
        margin: 12;
    }

    .ra {
        text-align: right;
    }

    .comments {
        margin: 8 16 8 8;
        
        .cheader {
            margin: 8;
            font-size: 18;
        }
        
        .cload {
            margin: 8;
            font-size: 16;
        }
    }
    
    Button {
        background: #263238;
    }
}