<ActionBar class="action-bar">
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <ActionItem icon="res://navigation/menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()" ios.position="left"></ActionItem>
    <StackLayout orientation="horizontal" class="topBar">
        <WebImage class="avatarImage" rounded="true" src="https://steemitimages.com/u/{{ post?.author }}/avatar"></WebImage>
        <Label class="center" [text]="post?.author"></Label>
    </StackLayout>
</ActionBar>

<RadSideDrawer #drawer showOverNavigation="true" [drawerTransition]="sideDrawerTransition">
    <StackLayout tkDrawerContent>
        <MyDrawer [selectedPage]=""></MyDrawer>
    </StackLayout>
    <ScrollView orientation="vertical" tkMainContent>
        <GridLayout class="page page-content" tkMainContent columns="auto, *, auto, *, *" rows="auto, auto, auto, auto, auto, auto">
            <Label col="0" row="0" colSpan="6" class="margin title" textWrap="true" [text]="post.title"></Label>
            <Label col="0" row="1" class="fa margin" text="&#xf164;"></Label>
            <Label col="1" row="1" class="mtop" [text]="post.active_votes.length"></Label>
            <Label col="2" row="1" class="fa margin" text="&#xf27a;"></Label>
            <Label col="3" row="1" class="mtop" [text]="post.children"></Label>
            <Label col="4" row="1" class="fa margin" text="&#xf05a;"></Label>
            <Label col="5" row="1" class="margin ra" textWrap="true" [text]="post.pending_payout_value"></Label>
            <WebView col="0"row="2" colSpan="6" class="webView" [src]="body" (loadFinished)="onWebLoad($event)"></WebView>
            <Button col="0" row="3" colSpan="6" class="margin" text="Share" (tap)="onShare($event)"></Button>
            <StackLayout col="0" row="4" colSpan="6" orientation="vertical" class="comments">
                <Label class="cheader" text="Comments:"></Label>
                <Label class="cload" text="Comments are hidden. Click to load" (tap)="showComments()" *ngIf="!loadedComments"></Label>
                <FeedComment col="1" row="3" [comments]="comments"></FeedComment>
            </StackLayout>
        </GridLayout>
    </ScrollView>
</RadSideDrawer>