.webView {
    margin: 12;
}

.avatarImage {
    border-radius: 50%;
    width: 42;
    height: 42;
    padding: 6;
}

.center {
    vertical-align: center;
}

.margin {
    margin: 12 12 0 12;
}

.title {
    font-size: 18;
    line-height: 14;
}

.sa {
    width: 32;
    height: 32;
}