<ActionBar class="action-bar">
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <ActionItem icon="res://navigation/menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
        ios.position="left">
    </ActionItem>
    <Label class="action-bar-title" text="My Feed"></Label>
</ActionBar>

<RadSideDrawer #drawer showOverNavigation="true" [drawerTransition]="sideDrawerTransition">
    <StackLayout tkDrawerContent><MyDrawer [selectedPage]="pageName"></MyDrawer></StackLayout>
    <StackLayout orientation="vertical" class="page page-content" tkMainContent>
        <RadListView [items]="feed" loadOnDemandMode="Auto" [itemTemplateSelector]="templateSelector" (itemTap)="setPost($event)" (loadMoreDataRequested)="onLoadMore($event)">
            <ng-template let-item="item" tkTemplateKey="image">
                <StackLayout orientation="vertical" class="feedItem">
                    <FeedTopbar [post]="item"></FeedTopbar>
                    <FeedThumbnail [src]="item.thumbnail"></FeedThumbnail>
                    <Label class="nameLabel" [text]="item.title" textWrap="true"></Label>
                    <FeedSocialFooter [item]="item" (tap)="onTag($event)"></FeedSocialFooter>
                </StackLayout>
            </ng-template>
            <ng-template let-item="item" tkTemplateKey="no-image">
                <StackLayout orientation="vertical" class="feedItem">
                    <FeedTopbar [post]="item"></FeedTopbar>
                    <Label class="nameLabel" [text]="item.title" textWrap="true"></Label>
                    <FeedSocialFooter [item]="item" (tap)="onTag($event)"></FeedSocialFooter>
                </StackLayout>
            </ng-template>
        </RadListView>
    </StackLayout>
</RadSideDrawer>