StackLayout.feedItem {
    margin: 16;
    border-radius: 1;
    border-width: 1;
    border-color: #CCCCCC;
    
    StackLayout.topBar {
        .center {
            vertical-align: center;
            width: auto;
        }

        .tag-container {
            margin: 0 6 0 12;

            .tag {
                font-weight: 300;
                padding: 5;
                margin: 0 2 0 2;
                color: #6666FF;
                vertical-align: center;
            }
        }
    }

    .nameLabel {
        font-size: 18;
        margin: 8;
    }
}